@import url('../../shared/styles/theme.css');


.cart-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.cart-content {

}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin: 1em;
    border: 1px solid var(--secondary-color);
}
