@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

.styled-font {
    font-family: "Permanent Marker", cursive;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root[theme="dark"] {
    --primary-color: #181817;
    --secondary-color: #95703d;
    --neutral-color: #c7c0b5;
    --highlight-color: #414042;
    --background-color: #181817;
    --foreground-color: #f8f8f5;
    --link-color: #de951f;
    --warning-color: #ca9a66;
    --success-color: #908b75;
    --info-color: #493417;
    --error-color: #834a21;
}

:root[theme="light"] {
    --primary-color: #f8f8f5;
    --secondary-color: #95703d;
    --neutral-color: #908b75;
    --highlight-color: #de951f;
    --background-color: #f8f8f5;
    --foreground-color: #181817;
    --link-color: #de951f;
    --warning-color: #ca9a66;
    --success-color: #95703d;
    --info-color: #414042;
    --error-color: #834a21;
}