@import url('../../shared/styles/theme.css');

header {
    padding: 1em;
}

nav ul {
    list-style: none;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

nav li {
    margin: 5px;
}

.search {
    float: right;
    justify-content: right;
}

#searchForm {
    justify-content: flex-end;
}

#searchInput {
    width: 70%;
    background-color: var(--neutral-color);
    border-radius: 10px;
    padding: 10px;
}

#searchButton {
    font-size: 30px;
    border-radius: 30px;
    border-color: transparent;
    margin: 5px;
    padding: 5px;
}

.content-image {
    flex: 1;
    text-align: center;
}

.content-image img {
    max-width: 100%;
    height: auto;
    display: flex;
}


/* Estilos da seção de destaque */
#destaque {
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;

}

.content-text {
    flex: 1;
    text-align: center;
}

.content-text h2 {
    font-size: 5em;
    margin-bottom: 10px;
}

.content-text p {
    font-size: 1.2em;
    line-height: 1.6;
}


#destaque img {
    width: 100%;
    /* Para a imagem se ajustar à largura da tela */
    height: auto;
    padding-top: 2em;
}

#pedido {
    color: var(--primary-color);
    text-align: center;
    font-size: 50px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-family: "Permanent Marker", cursive;
}


.styled-font {
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
}

footer {
    background: var(--primary-color);
    color: var(--neutral-color);
    text-align: center;
    padding: 1em;
    box-shadow: '0 2px 4px rgba(0, 0, 0, 0.1)'
}